# Virtual environment
.venv/

# PyTest cache
.pytest_cache/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Files to ignore
test_class_login.py
test_first.py
test_fixtures.py

#allure results
allure-results/